*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blueColor: #0984e3;
  --lightBlue: #74b9ff;
  --primaryTextColor: #2d3436;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--primaryTextColor);
  background-color: var(--blueColor);
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 7px;
  text-shadow: 2px 2px #f1f9ff;
  /* margin-top: -100px; */
}
h2 {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  opacity: 0.5;
  font-weight: 700;
  letter-spacing: normal;
}
.beaker {
  width: 150px;
  height: 300px;
  border: 2px solid #2d5a7d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
}
.beaker h3 {
  margin: auto;
  color: #004173;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 99;
}
.beaker-full {
  width: 100%;
  height: 0%;
  background: #6ab3f8;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.glasses-section {
  width: 200px;
  height: 157px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}
.glass {
  border: 2px solid #2d5a7d;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  height: 70px;
  width: 40px;
  font-weight: 500;
  color: #004173;
  transition: 0.3s ease;
  position: relative;
}
/* .glass::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: black;
  width: 2px;
  transform: rotate(-8deg);
  left: -9%;
  bottom: 1px;
}
.glass::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: black;
  width: 2px;
  transform: rotate(8deg);
  right: -9%;
  bottom: 1px;
} */
.glass.full {
  background-color: #6ab3f8;
  color: #0d2743;
}
.beaker-mark {
  width: 20px;
  height: 1px;
  background: #606060a8;
  position: absolute;
  font-size: 10px;
  opacity: 0.7;
}
.beaker-mark.one {
  bottom: 66px;
}
.beaker-mark.two {
  bottom: 132px;
}
.beaker-mark.three {
  top: 66px;
}
.beaker-mark.four {
  top: -1px;
}
